
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
 --clr-primary-accent-400:#5DB2A5;
--clr-accent-300:#71BEA4;
--clr-accent-200:#86C9A6;
--clr-accent-100:#9BD3AB;
/* 
--clr-neutral-500: #2f2f2f; */
--clr-neutral-500: #1C1C1C;
--clr-primary-neutral-400: #2f2f2f;
--clr-neutral-300: #4E4E4E;
--clr-neutral-200: #696969;
--clr-neutral-100: #858585;
--clr-neutral-50:#C6C6C6;

--clr-white-000:#DFDFDF;

--ff-primary:'Poppins', sans-serif;


--ff-body:var(--ff-primary);

--fw-bold-700:700;
--fw-semibold-500:500;
--fw-regular-400:400;

/* 10px */
--fs-40:0.625rem;
/* 11px */
--fs-50:0.6875rem;
/* 13px */
--fs-100:0.8125rem;
/* 15px */
--fs-150:0.9375rem;
/* 16px */
--fs-200:1rem;
/* 17px */
--fs-300:1.0625;
/* 22px */
--fs-400:1.375rem;
/* 30px */
--fs-500:1.875rem;
/* 40px */
--fs-600:2.5rem;
/* 50px */
--fs-700:3.5rem;
--fs-800:4rem;
--fs-900:5rem;


--fs-body:var(--fs-100);
--fs-small-heading:var(--fs-50);
--fs-small-sub-heading:var(--fs-150);
--fs-primary-XLL:var(--fs-600);
--fs-primary-XL:var(--fs-500);
--fs-primary-heading:var(--fs-500);
--fs-secondary-heading:var(--fs-400);
--fs-tertiary-heading:var(--fs-300);
--fs-nav:var(--fs-200);
--fs-button:var(--fs-150);
--fs-card: var(--fs-100);



--size-100: 0.25rem;
--size-200: 0.5rem;
--size-300: 0.75rem;
--size-400: 1rem;
--size-500: 1.5rem;
--size-600: 2rem;
--size-700: 3rem;
--size-800: 4rem;
--size-900: 5rem;


--_spacer-Horizontal-slider:1rem;
--_spacer:2rem;



}
@media(min-width:47em) and (max-width:69em){
    :root{
        --fs-button:var(--fs-150);
        --fs-nav:var(--fs-200);
        --fs-body:var(--fs-300);
        --fs-small-sub-heading:var(--fs-200);
        --fs-primary-XL:var(--fs-700);
        --fs-primary-XLL:var(--fs-800);
        --fs-primary-heading:var(--fs-600);
        --fs-secondary-heading:var(--fs-500);
        --fs-tertiary-heading:var(--fs-400);
    }
    
}
@media(min-width:69em){
    :root{
        --fs-button:var(--fs-150);
        --fs-card:var(--fs-200);
        --fs-body:var(--fs-400);
        --fs-small-heading:var(--fs-200);
        --fs-small-sub-heading:var(--fs-300);
        --fs-primary-XL:var(--fs-800);
        --fs-primary-XLL:var(--fs-900);
        --fs-primary-heading:var(--fs-700);
        --fs-secondary-heading:var(--fs-600);
        --fs-tertiary-heading:var(--fs-500);
        --fs-nav:var(--fs-200);
    }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body{
    height: 100%;
    
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.text-clr-primary-accent-400{
    color: var(--clr-primary-accent-400);
}
.text-clr-accent-300{
    color: var(--clr-accent-300);
}
.text-clr-accent-200{
    color: var(--clr-accent-200);
}
.text-clr-accent-100{
    color: var(--clr-accent-100);
}

.bg-clr-primary-accent-400{
    background-color: var(--clr-primary-accent-400);
}
.bg-clr-accent-300{
    background-color: var(--clr-accent-300);
}
.bg-clr-accent-200{
    background-color: var(--clr-accent-200);
}
.bg-clr-accent-100{
    background-color: var(--clr-accent-100);
}

.text-clr-primary-neutral-400{
    color: var(--clr-primary-neutral-400);
}
.text-clr-neutral-500{
    color: var(--clr-neutral-500);
}
.text-clr-neutral-300{
    color: var(--clr-neutral-300);
}
.text-clr-neutral-200{
    color: var(--clr-neutral-200);
}
.text-clr-neutral-100{
    color: var(--clr-neutral-100);
}

.text-clr-white-for-dark-bg,
a{
    color: var(--clr-white-000);
}

.bg-clr-primary-neutral-400{
    background-color: var(--clr-primary-neutral-400);
}
.bg-clr-neutral-500{
   background-color: var(--clr-neutral-500);
}


/* Gradient BAckground style */
.bg-gradient-clr-neutral-500{
    background: radial-gradient(circle at center bottom,rgba(93,178,165,0.50),var(--clr-neutral-500),var(--clr-neutral-500)); 
    /* background:linear-gradient(180deg, var(--clr-neutral-500) 60%, rgba(93,178,165,0.6)); */
}

@media(min-width:70em){
    .bg-gradient-clr-neutral-500{
    background: radial-gradient(circle at 73% center,rgba(93,178,165,0.50),var(--clr-neutral-500),var(--clr-neutral-500),var(--clr-neutral-500)); 
    /* background:linear-gradient(90deg, var(--clr-neutral-500)  48%, rgba(112,178,165,0.76)); */
}
}
/* end of Gradient BAckground style */



.bg-clr-neutral-300{
    background-color: var(--clr-neutral-300);
}
.bg-clr-neutral-200{
    background-color: var(--clr-neutral-200);
}
.bg-clr-neutral-100{
    background-color: var(--clr-neutral-100);
}
.bg-clr-neutral-50{
    background-color: var(--clr-white-000);
}

.fw-bold{
    font-weight: var(--fw-bold-700);
}
.fw-semi-bold{
    font-weight: var(--fw-semibold-500);
}
.fw-regular{
    font-weight: var(--fw-regular-400);
    line-height: 1.5;
}

.fs-small-heading{
    font-size: var(--fs-small-heading);
    line-height: 1.5;
    letter-spacing: 0.8rem;
}
.fs-small-sub-heading{
    font-size: var(--fs-small-sub-heading);
    line-height: 1.5;
}
.fs-primary-XL{
    font-size: var(--fs-primary-XL);
    line-height: 1.5;
}
.fs-primary-XLL{
    font-size: var(--fs-primary-XLL);
    line-height: 1.5;
}

.fs-primary-heading{
    font-size: var(--fs-primary-heading);
    letter-spacing: 0.3125rem;
    line-height: 1.5;
}
.fs-secondary-heading{
    font-size: var(--fs-secondary-heading);
    line-height: 1.5;
}
.fs-tertiary-heading{
    font-size: var(--fs-tertiary-heading);
    line-height: 1.5;

}

.padding-block-900{
    padding-block: var(--size-900);
}
.padding-block-700{
    padding-block: var(--size-700);
}
.padding-block-600{
    padding-block: var(--size-600);
}
.padding-top-600{
    padding-top: var(--size-600);
}
.padding-top-900{
    padding-top: var(--size-900);
}
.padding-bottom-600{
    padding-bottom: var(--size-600);
}




/* Content spacer except the first child */
.flow>*+*{
    margin-top: 1rem;
}
/* end of Content spacer except the first child */




/* general styling */

body{
    font-family: var(--ff-body);
    font-size: var(--fs-body) ;
    color: var(--clr-neutral-500);

    overflow-x: hidden;
}

.even-columns{
    display: grid;
    gap: 3em;
    align-items: center;
    
    
}

@media(min-width:70em){
    .even-columns{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        
        
    }
}
.container{
    width: min(90%, 100%);
    margin-inline: auto;

}
.Border{
    border-top: 2px solid var(--clr-neutral-200);
    padding-bottom: 2rem;
    width: min(80%,100%);
    margin-inline: auto;
}

/* general styling */



/* button */

.button{
    cursor: pointer;
    border: 0;
    font-size:var(--fs-button);
    padding: 0.5rem 1rem;
    position: relative;
    line-height: 0.5rem;
    
}
.button::before{
    transition: all 0.60s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.ResumeHover{

    border-radius: 3.125rem;
    background-color: var(--clr-white-000);
    box-shadow: 0 1rem 1rem -0.6rem var(--clr-neutral-100);
}
.TextResume{
    color: var(--clr-neutral-100);
    
    mix-blend-mode:difference;
}
.ResumeHover::before{
    box-shadow: 0 0.5rem 1rem -0.6rem var(--clr-accent-100);
    border-radius: 3.125rem;
    width: 30%;
    background: var(--clr-primary-accent-400);
    
    
}
.ResumeHover:hover::before{
    background: var(--clr-primary-accent-400);
    width: 100%;
}

/* button */





/* First Section Sttyling */


/* Navigation Bar*/
.wrapper{
    display: flex;
    justify-content: space-between;
    line-height: 1.7rem;

}
.Logo>h1{
    font-size: var(--fs-nav);
    line-height: 2rem;
}
.nav-list{
    font-size: var(--fs-nav);
    display: flex;
    gap: 2em;
}
.nav-list>li>a{
    position: relative;
}

.nav-list>li>a:hover{
    color: var(--clr-primary-accent-400);
}

.nav-toggle{
    display: none;
}
@media(max-width:47.9375em){
    .wrapper{
        margin-inline-end: 0;
        
    }
    .nav-list{
        display: flex;
        z-index: 1000;
        flex-direction: column;
        padding-inline: 3rem;
        padding-block: 4rem;
        position: fixed;
        inset: 0 0 0 30%;
        background: hsl(0 20% 10% /0.75) ;
        box-shadow: 0.2rem 0.3rem 0.5rem var(--clr-white-000);

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    @supports(backdrop-filter: blur(0.5rem)){
        .nav-list{
            background-color: hsl(0 0% 70% /0.1);
            backdrop-filter: blur(0.5rem);
        }
    }

    .nav-list[data-visible = "true"]{
        transform: translatex(0%);
    }

    .nav-toggle{
        display: block;
        position: absolute;
        background-image: url(../assets/Icon/burger-menu.svg);
        border: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        z-index: 9999;
        top: 2rem;
        right: 2rem;
        width: 1.5rem;
        aspect-ratio: 1;
    }

    .nav-toggle[aria-expanded = "true"]{
        background-image: url(../assets/Icon/close.svg);
        background-repeat: no-repeat;
    }
}
/* Navigation Bar*/



/* Column1 or Left*/
.style-my-name-is{
    color: var(--clr-neutral-300);
    
}
.style-my-name-is::before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

}

.style-my-name-is::before{
    font: var(--fa-font-solid);
    content: "\f068";
    
}

/* span stye and main header text shadow style */
.main-header-text-shadow{
    text-shadow: var(--clr-neutral-300) 0 2px 1px, var(--clr-neutral-100) 6px 2rem 1rem ;
}

.SecNameAc{
    color: var(--clr-primary-accent-400);
    text-shadow: var(--clr-neutral-300) 0 2px 1px, var(--clr-accent-100) 5px 2rem 1rem ;
}
/* end of span stye and main header text shadow style */

/* Social Links Style */
.social-links{
    display: flex;
    gap: var(--_spacer)
    
}
.SocialLinks:hover{
    color: var(--clr-primary-accent-400);
}
.SocialLinks{
    position: relative;
    cursor: pointer;

}
.SocialLinks::after,
.nav-list>li>a::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
    background-color: var(--clr-accent-200);
    border-radius: 0.3rem;
}

.SocialLinks:hover::after,
.nav-list>li>a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}


/* Column2 or Right */

/* Right Content Home Page */

.Img-dimension-right-content{
    justify-self: center;
}
.-My-Img-Bg{
    max-width: 17rem;
    transition: max-width 0.5s ease-in-out;
}


.Img-dimension-right-content>.imgWrapper{
    position: relative;
    width: min-content;
}
.Img-dimension-right-content>.imgWrapper>.Proj1,
.Img-dimension-right-content>.imgWrapper>.Proj2{
    width: 2rem;
    position: absolute;
    animation: floating 5s infinite;
    border-radius: 0.3rem;
    box-shadow: 0px 30px 90px  rgba(155, 211, 171, 1);
    border: 1px solid var(--clr-neutral-50);
}

.Img-dimension-right-content>.imgWrapper>.Proj3{
    width: 2rem;
    position: absolute;
    animation: floating 7s infinite;
    border-radius: 0.3rem;
    box-shadow: 0px 30px 90px  rgba(155, 211, 171, 1);
    border: 1px solid var(--clr-neutral-50);
}


.Img-dimension-right-content>.imgWrapper>.Proj1{
    animation-timing-function: ease-in;
    top: 3rem;
    left: 4rem;
    rotate:10deg;
}

.Img-dimension-right-content>.imgWrapper>.Proj2{
    animation-timing-function: ease-out;
    top: 5rem;
    left: 4.5rem;
    rotate: -5deg;
}




.Img-dimension-right-content>.imgWrapper>.Proj3{
    animation-timing-function: ease-in-out;
    top: 6rem;
    right: 4rem;
    rotate: -12deg;
}

.horizontal-heading{
    position: absolute;
    bottom: 1rem;
    right: 0;
    gap: 1.5rem;
    display: flex;
    justify-content: end;
} 
.horizontal-heading>img{
    width: var(--size-500);
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 100vh;
    box-shadow: 0px 0px 20px var(--clr-primary-accent-400);
}

.horizontal-heading>img:hover{
   cursor: pointer;
   box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}


@media(min-width:47.9375em) and (max-width:69em){
    .-My-Img-Bg.tablet{
        max-width: 30rem;
    }
    
    .horizontal-heading>img{
        width: var(--size-600);
    }
    .Img-dimension-right-content>.imgWrapper>.Proj1,
    .Img-dimension-right-content>.imgWrapper>.Proj2,
    .Img-dimension-right-content>.imgWrapper>.Proj3{
        width: 4rem;
    }
    
    .Img-dimension-right-content>.imgWrapper>.Proj1{
        animation-timing-function: ease-in;
        top: 7rem;
        left: 7rem;
        rotate:10deg;
    }
    
    .Img-dimension-right-content>.imgWrapper>.Proj2{
        animation-timing-function: ease-out;
        top: 11rem;
        left: 9rem;
        rotate: 7deg;
    }
    
    .Img-dimension-right-content>.imgWrapper>.Proj3{
        animation-timing-function: ease-in-out;
        top: 13rem;
        right: 8rem;
        rotate: -12deg;
    }
    
} 
@media(min-width:69em){
    .horizontal-heading>img{
        width: var(--size-600);
    }
    .Img-dimension-right-content>.imgWrapper>.Proj1,
    .Img-dimension-right-content>.imgWrapper>.Proj2,
    .Img-dimension-right-content>.imgWrapper>.Proj3{
        width: 5rem;
    }
    .-My-Img-Bg.computer{
        max-width: revert;
    }
    
    .Img-dimension-right-content>.imgWrapper{
        position: relative;
        width: min-content;
    }
    .Img-dimension-right-content>.imgWrapper>.Proj1{
        animation-timing-function: ease-in;
        top: 10rem;
        left: 10rem;
        rotate:10deg;
    }
    
    .Img-dimension-right-content>.imgWrapper>.Proj2{
        animation-timing-function: ease-out;
        top: 15rem;
        left: 14rem;
        rotate: 7deg;
    }
    
    .Img-dimension-right-content>.imgWrapper>.Proj3{
        animation-timing-function: ease-in-out;
        top: 20rem;
        right: 12rem;
        rotate: -12deg;
    }
    
    
}



@keyframes floating{
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 1rem);
    }

    75% {
        transform: translate(0, 1.2rem);
    }
    100% {
        transform: translate(0, 0px);
    }
}
/* First Section Styling */




/* Second Section Styling */

.grid-horizontal-scroller{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    gap:var(--_spacer-Horizontal-slider);

    padding: 0 0rem 3rem;


    

    overflow-x: scroll;
    overscroll-behavior-inline: contain;
}

.grid-horizontal-scroller::-webkit-scrollbar{
    display: none;
}


@media(min-width:64em){
    .grid-horizontal-scroller{
        grid-auto-columns: 22%;
    }
}
@media(min-width:30.9375em) and (max-width:63.9375em){
    .grid-horizontal-scroller{
        grid-auto-columns: 30%;
    }
    .media-scroller-element{
        padding: 0.5rem;
    }
}

.media-scroller-element{
    position: relative;
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer-Horizontal-slider);
    padding: var(--_spacer-Horizontal-slider);
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.2rem 0.3rem 0.5rem var(--clr-neutral-100);
    scale: 0.9;
}
.media-scroller-element:hover{
    transform: scale(1.1) translateY(1rem);
    transition: transform 0.2s 0s ease-in-out;
}
.media-scroller-element:hover + .media-scroller-element{
    transform: scale(1) translateY(0.5rem);
    transition: transform 0.2s 0s ease-in-out;
}
.media-scroller-element:has(+ .media-scroller-element:hover){
    transform: scale(1) translateY(0.5rem);
    transition: transform 0.2s 0s ease-in-out;
}
.media-scroller-element>a> img{
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s 0s ease-in-out;
}

.media-scroller-element>a>img:hover{
    filter: grayscale(0%);
}

.snap-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer-Horizontal-slider);
}

.snap-inline > *{
    scroll-snap-align: start;
}

.media-scroller-element:hover{
    cursor: pointer;
}

.w::before,
.a::before,
.s::before,
.d::before,
.z::before,
.x::before
{
    font-size: var(--fs-small-sub-heading);
    position: absolute;
    opacity: 0;
    bottom: -0.4rem;
    transition: bottom 0.3s 0s ease-in-out,
                opacity 0.3s 0s ease-in;
    padding-left: 0.5rem;

    
}
.w::before{
    content: "MaskNet";
}
.a::before{
    content: "Nexcent";
}
.s::before{
    content: "Point of Sale";
}
.d::before{
    content: "Green Bank";
}
.z::before{
    content: "Covid Tracer";
}
.x::before{
    content: "Rizal Works";
}

.w[data-visible = "true"]::before,
.a[data-visible = "true"]::before,
.s[data-visible = "true"]::before,
.d[data-visible = "true"]::before,
.z[data-visible = "true"]::before,
.x[data-visible = "true"]::before
{
    opacity: 1; 
    bottom: -1.7rem;
   
}



/* Top Section Design */




.text-align-center{
    text-align: center;
}


/* BioGraphy */
.Col1>img{
    max-width: 12rem;
    margin-inline: auto;
    padding-bottom: 2rem;
    transition: max-width 0.5s ease-in-out;
}
.grid-split-col{
    display: grid;
    gap: var(--_spacer);
    grid-template-columns: repeat(1, 1fr);
}

.Profile-list>*{
    padding-bottom: 0.5rem;
}
.prof-male::before,
.prof-birth::before,
.prof-age::before,
.prof-address::before,
.cont-num::before,
.cont-email::before,
.cont-git::before,
.cont-LIn::before
{
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: var(--clr-primary-accent-400);
    font: var(--fa-font-solid);
    padding-right: 1rem;
}
.prof-male::before{
  
    content: "\f229";
}
.prof-birth::before{
    content: "\f1fd";
}
.prof-age::before{
    content: "\f073";

}
.prof-address::before{
    content: "\f3c5";
}

.cont-num::before{
  
    content: "\f095";
}
.cont-email::before{
    content: "\f0e0";
}
.cont-git::before{
    font: var(--fa-font-brands);
    content: "\f09b";

}
.cont-LIn::before{
    font: var(--fa-font-brands);
    content: "\f08c";
}


.Contact-list>*{
    padding-bottom: 0.5rem;
}


@media(min-width:30em) and (max-width:70em){
    .Col1>img{
        max-width: 20rem;
       
    }
    .grid-split-col{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:70em){
    .Col1>img{
        max-width: 23rem;
    }
    .grid-split-col{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Interest */
.Interest-grid-template{
    display: grid;
    gap: var(--_spacer);
    grid-template-columns: repeat(1, 1fr);
}

@media(min-width:30em) and (max-width:70em){
    .Interest-grid-template{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:70em){
    .Interest-grid-template{
        grid-template-columns: repeat(3, 1fr);
    }
}

.Interest-grid-template>*{
    box-shadow: 0px 1px 0px 0px  rgba(0,0,0,0.04),
                -1px 0px 0px 0px rgba(0,0,0,0.04), 
                -1px 2px 0px 0px rgba(0,0,0,0.04), 
                -2px 1px 0px 0px rgba(0,0,0,0.04), 
                -2px 3px 0px 0px rgba(0,0,0,0.04), 
                -3px 2px 0px 0px rgba(0,0,0,0.04), 
                -3px 4px 0px 0px rgba(0,0,0,0.04), 
                -4px 3px 0px 0px rgba(0,0,0,0.04), 
                -4px 5px 0px 0px rgba(0,0,0,0.04), 
                -5px 4px 0px 0px rgba(0,0,0,0.04), 
                -5px 6px 0px 0px rgba(0,0,0,0.04), 
                -6px 5px 0px 0px rgba(0,0,0,0.04), 
                -6px 7px 0px 0px rgba(0,0,0,0.04), 
                -7px 6px 0px 0px rgba(0,0,0,0.04), 
                -7px 8px 0px 0px rgba(0,0,0,0.04), 
                -8px 7px 0px 0px rgba(0,0,0,0.04);
    background: linear-gradient(90deg, var(--clr-primary-neutral-400) 45%, rgba(93,178,165,0.4));
    padding: 2rem;
    border-radius: 0.3rem;
}
.Interest-grid-template>*:hover{
    cursor: pointer;
}
.Interest2::before,
.Interest1::before,
.Interest3::before,
.Interest4::before,
.Interest5::before,
.Interest6::before{
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: var(--clr-primary-accent-400);
}
.Interest2>h6,
.Interest1>h6,
.Interest3>h6,
.Interest4>h6,
.Interest5>h6,
.Interest6>h6{
    display: inline-flex;
    padding-inline: 2rem;
}

.Interest1::before{
    font: var(--fa-font-solid);
    content: "\f008";
}
.Interest2::before{
    font: var(--fa-font-solid);
    content: "\f11b";
}
.Interest3::before{
  font: var(--fa-font-solid);
    content: "\f001";
}
.Interest4::before{
  font: var(--fa-font-solid);
    content: "\f121";
}
.Interest5::before{
  font: var(--fa-font-solid);
    content: "\f434";
}
.Interest6::before{
  font: var(--fa-font-solid);
    content: "\f44b";
}

/* Service */
.text-Service{
    padding-bottom: 1rem;
}
.one{
    grid-area: one;
    width: 6rem;
    justify-self: center;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}

.grid-service{
    display: grid;
    grid-template-areas: 
    'one'
    'two'
    'three'
;

}

.service1{
    grid-area: service1;
}
.service2{
    grid-area: service2;
}
.service3{
    grid-area: service3;
}

.grid-service-section{
    display: grid;
    gap: var(--_spacer);
    grid-template-areas: 
    'service1'
    'service2'
    'service3'
    ;
    
}
.grid-service-section>*{
    background-image:  radial-gradient(circle at top center,rgba(93,178,165,0.30),var(--clr-primary-neutral-400),var(--clr-primary-neutral-400)),
                        url('../assets/Icon/GridLayout.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.04),
                -1px 0px 0px 0px rgba(0,0,0,0.04), 
                -1px 2px 0px 0px rgba(0,0,0,0.04), 
                -2px 1px 0px 0px rgba(0,0,0,0.04), 
                -2px 3px 0px 0px rgba(0,0,0,0.04), 
                -3px 2px 0px 0px rgba(0,0,0,0.04), 
                -3px 4px 0px 0px rgba(0,0,0,0.04), 
                -4px 3px 0px 0px rgba(0,0,0,0.04), 
                -4px 5px 0px 0px rgba(0,0,0,0.04), 
                -5px 4px 0px 0px rgba(0,0,0,0.04), 
                -5px 6px 0px 0px rgba(0,0,0,0.04), 
                -6px 5px 0px 0px rgba(0,0,0,0.04), 
                -6px 7px 0px 0px rgba(0,0,0,0.04), 
                -7px 6px 0px 0px rgba(0,0,0,0.04), 
                -7px 8px 0px 0px rgba(0,0,0,0.04), 
                -8px 7px 0px 0px rgba(0,0,0,0.04);
    padding: 1rem;
    border-radius: 0.3rem;

}


@media(min-width:42em) and (max-width:70em){
    .one{
        width: 8rem;
        grid-area: one;
    }

    .grid-service-section{
        grid-template-areas:
        'service1 service2'
        'service3 service3'
        ;
    }
    .service3{
        margin-inline: 10rem;
    }
}
@media(min-width:70em){
    .grid-service{
        display: grid;
        grid-template-areas: 
        'two one'
        'three three';
    }
    .one{
        grid-area: one;
        justify-self: end;
    }
    .grid-service-section>*{
        background-image:  radial-gradient(circle at top right,rgba(93,178,165,0.30),var(--clr-primary-neutral-400),var(--clr-primary-neutral-400),var(--clr-primary-neutral-400)),
                            url('../assets/Icon/GridLayout.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right top;
        padding: 1rem;
        border-radius: 0.3rem;
    
    }
    .grid-service-section{
        grid-template-areas:
        'service1 service2 service3'
        ;
    }
    
}


/* Let's Connect */
.Col1{
    padding-block: 2rem;
    background: radial-gradient(circle at 50% center,rgba(93,178,165,0.30),var(--clr-neutral-500),var(--clr-neutral-500),var(--clr-neutral-500)); 
}
.h1-arrow-right::after{
    display: inline-flex;
}
.h1-arrow-right::after{
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.h1-arrow-right::after{
    color: var(--clr-primary-accent-400);
    font: var(--fa-font-solid);
    padding-inline: 1rem;
    content: "\f061";
    rotate: 90deg;
    transition: rotate 0.5s 0s ease-out
}
@media(min-width:70em){
    .h1-arrow-right::after{
        rotate:-0deg;
    }
}


.Message-form{
    margin-inline: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media(min-width:40em) and (max-width:70em){
    .Message-form{
        margin-inline: 10rem;
    }
}
.Message-form>*:not(:last-child){
    color: var(--clr-white-000);
    border: 0;
    background-color: rgba(0, 0, 0,0.07);
    box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.7);
    padding: 1rem;
    border-radius: 0.3rem;
}

.Message-form>*:not(:last-child):hover{
    cursor: pointer;
}

.Formsend{
    line-height: 1.3rem;
    display: inline-flex;
    background-color: var(--clr-neutral-500);
    color: var(--clr-primary-accent-400);
    padding: 1rem;
    width: 6rem;
    font-size: var(--fs-small-sub-heading);
}

.Formsend::after{
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.Formsend::after{
    padding-left: 1rem;
    font: var(--fa-font-solid);
    content: "\f061";
    
}
.Formsend:hover{
  text-shadow: 0px 0.5rem 2rem rgba(93,178,165,1);;
}

/* Footer */
.footer-bg{
    font-size: 0.7rem;
    padding-block: 1rem;
    text-align: center;
    background-color: rgba(78,78,78,0.80);
}
.footer-bg>:first-child{
    font-size: 0.6rem;
}










/* Styling for About Page */



.flex-columns-layout{
    --_gap-spacer:2em;
    display: flex;
    gap: var(--_gap-spacer);
    flex-direction: column;
}

.Split{
    display: flex;
    flex-direction: column;
    gap: var(--_gap-spacer);
}
.Split>*:not(.no-bg-card){
    background-color: var(--clr-primary-neutral-400);
    padding: 1em 2em;
    border-radius: 0.5em;
}



@media(min-width:53.5625em){
    .flex-columns-layout{
        flex-direction: row;
    }

    .flex-columns-layout>*{
        flex-basis: 100%;
    }

}

.Card{

    display: grid;
    background-image:  radial-gradient(circle at top right,rgba(245, 246, 252, 0.30),var(--clr-primary-neutral-400),var(--clr-primary-neutral-400)),url('../assets/Icon/GridLayout.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    grid-template-areas: 
    'one' 
    'two'
    'three'
    'four';
    box-shadow: 0px 1px 0px 0px  rgba(0,0,0,0.04),
    -1px 0px 0px 0px rgba(0,0,0,0.04), 
    -1px 2px 0px 0px rgba(0,0,0,0.04), 
    -2px 1px 0px 0px rgba(0,0,0,0.04), 
    -2px 3px 0px 0px rgba(0,0,0,0.04), 
    -3px 2px 0px 0px rgba(0,0,0,0.04), 
    -3px 4px 0px 0px rgba(0,0,0,0.04), 
    -4px 3px 0px 0px rgba(0,0,0,0.04), 
    -4px 5px 0px 0px rgba(0,0,0,0.04), 
    -5px 4px 0px 0px rgba(0,0,0,0.04), 
    -5px 6px 0px 0px rgba(0,0,0,0.04), 
    -6px 5px 0px 0px rgba(0,0,0,0.04), 
    -6px 7px 0px 0px rgba(0,0,0,0.04), 
    -7px 6px 0px 0px rgba(0,0,0,0.04), 
    -7px 8px 0px 0px rgba(0,0,0,0.04), 
    -8px 7px 0px 0px rgba(0,0,0,0.04);
  
 
}




/* Temporary Code Neep Optimization */
.NumItem1::before,
.NumItem2::before,
.NumItem3::before,
.NumItem4::before{
    display: block;
    color: var(--clr-neutral-500);
    width: min-content;
    border-radius: 0.5rem;
    padding-inline: 0.7rem;
    border: 2px dotted rgba(203, 200, 204, 0.5);

}

.NumItem1::before{
    content:'01';
}

.NumItem2::before{
    content:'02';
}
.NumItem3::before{
    content:'03';
}


/* Temporary Code Neep Optimization */







.Item1{
    grid-area: one;
}

.Item2{
    grid-area: two;
    justify-self: center;
    align-self: center;
}
.Item3{
    grid-area: three;
}
.Item4{
    grid-area: four;
}
@media(min-width:10em){
    .Card>img{
        max-width: 7rem;
    }
    .Card{
        grid-template-areas: 'one'
        'two '
        'three '
        'four ';
    }
}

@media(min-width:47.9375em){
    .Card>img{
        max-width: 8rem;
    }
    .Card{
        grid-template-areas: 'one one two '
        'three three two '
        'four four four ';
    }
    
}



/* Card Generalize style */

.Item4>ul{
    margin-inline: 1rem;
}

.Achivement-List{
    margin-left: 1rem;
    padding-block: 1rem;
}
.Achivement-List>li{
    padding-bottom: 0.5rem;
}  
/* Card Generalize style */




.FrontEnd{
    grid-area: FrontEnd;
}
.BackEnd{
    grid-area: BackEnd;
}
.Database{
    grid-area:Database;
}



/* My Skills Style */

.grid-areas-skills{
    display:grid;
    gap: var(--_spacer);
    justify-content: center;
    grid-template-areas: 
    'FrontEnd' 
    'BackEnd'
    'Database';

}



.BackEnd>div{
    text-align: center;
}
.BackEnd{
    margin-inline: 3rem;
}
.Database>div{
    text-align: center;
}
.Database{
    margin-inline: 3rem;
}

@media(min-width:34em){
    .grid-areas-skills{
        display:grid;
        gap: var(--_spacer);
        justify-content: center;
        grid-template-areas: 
        'FrontEnd FrontEnd' 
        'BackEnd Database';
    
    }
    
}
.grid-areas-skills>.FrontEnd>.skills-diplay-flex{
    display: flex;
    gap: var(--_spacer);
    list-style: none;
    text-align: center;
 
}
.platform>p>i>img,
.BackEnd>div>p>i>img,
.Database>div>p>i>img{
    max-width: 2rem;
    display: inline;
   
}
.skills-diplay-flex>li>p,
.BackEnd>div,
.Database>div{
    
    padding: 0.5rem 1rem;
    background: linear-gradient(90deg, var(--clr-primary-neutral-400) 45%, rgba(93,178,165,0.4));
    border-radius: 0.3rem;
    box-shadow: 0px 1px 0px 0px  rgba(0,0,0,0.04),
    -1px 0px 0px 0px rgba(0,0,0,0.04), 
    -1px 2px 0px 0px rgba(0,0,0,0.04), 
    -2px 1px 0px 0px rgba(0,0,0,0.04), 
    -2px 3px 0px 0px rgba(0,0,0,0.04), 
    -3px 2px 0px 0px rgba(0,0,0,0.04), 
    -3px 4px 0px 0px rgba(0,0,0,0.04), 
    -4px 3px 0px 0px rgba(0,0,0,0.04), 
    -4px 5px 0px 0px rgba(0,0,0,0.04), 
    -5px 4px 0px 0px rgba(0,0,0,0.04), 
    -5px 6px 0px 0px rgba(0,0,0,0.04), 
    -6px 5px 0px 0px rgba(0,0,0,0.04), 
    -6px 7px 0px 0px rgba(0,0,0,0.04), 
    -7px 6px 0px 0px rgba(0,0,0,0.04), 
    -7px 8px 0px 0px rgba(0,0,0,0.04), 
    -8px 7px 0px 0px rgba(0,0,0,0.04);
   
}



.FrontEnd>h3,
.BackEnd>h3,
.Database>h3{
    text-align: center;
}


/* Certificates Style */
.title-cert-margin-bot{
    margin-bottom: 3rem;
}

.GridLayout-Cert{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    padding-block: var(--_spacer);
    background: linear-gradient(90deg, var(--clr-primary-neutral-400) 45%, rgba(93,178,165,0.4));
    box-shadow: 0px 1px 0px 0px  rgba(0,0,0,0.04),
                -1px 0px 0px 0px rgba(0,0,0,0.04), 
                -1px 2px 0px 0px rgba(0,0,0,0.04), 
                -2px 1px 0px 0px rgba(0,0,0,0.04), 
                -2px 3px 0px 0px rgba(0,0,0,0.04), 
                -3px 2px 0px 0px rgba(0,0,0,0.04), 
                -3px 4px 0px 0px rgba(0,0,0,0.04), 
                -4px 3px 0px 0px rgba(0,0,0,0.04), 
                -4px 5px 0px 0px rgba(0,0,0,0.04), 
                -5px 4px 0px 0px rgba(0,0,0,0.04), 
                -5px 6px 0px 0px rgba(0,0,0,0.04), 
                -6px 5px 0px 0px rgba(0,0,0,0.04), 
                -6px 7px 0px 0px rgba(0,0,0,0.04), 
                -7px 6px 0px 0px rgba(0,0,0,0.04), 
                -7px 8px 0px 0px rgba(0,0,0,0.04), 
                -8px 7px 0px 0px rgba(0,0,0,0.04);
    border-radius: 0.3rem;
    padding-inline: 0.5rem;
    
}
.GridLayout-Cert>.absolute-Cert-Overflow>img{
    max-width: 14rem;
    transition: max-width 0.5s ease-in-out;
    border-radius: 0.3rem;
    margin-inline: auto;
}
.Cert_List{
    display: flex;
    gap: var(--_spacer);
    align-items: center;
    justify-content: center;
   
  }
.Certs>img{
      max-width: 7rem;
      border-radius: 0.3rem;
      aspect-ratio: 16/9;
     
      
  }
.Certs>img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s 0s ease-in-out;
    box-shadow: 0px 0.5rem 2rem rgba(93,178,165,0.4);
  }
.Certs{
      list-style: none;
  }
.Cert-Content{
    position: relative;
}
.Cert-Content>.Cert1{
    position: absolute;
   
}

.Cert-Content>.Cert1[data-visible=false],
.Cert-Content>.Cert2[data-visible=false]{
    opacity: 0;
    transition: opacity 0.2s 0s ease-in;
}

.Cert-Content>.Cert1[data-visible=true],
.Cert-Content>.Cert2[data-visible=true]{
    visibility: 1;
    transition: opacity 0.2s 0s ease-out;
}


@media(min-width:34em) and (max-width:70em){
    .GridLayout-Cert>.absolute-Cert-Overflow>img{
        max-width: 20rem;
        border-radius: 0.3rem;
        margin-inline: auto;
    }
}


@media(min-width:70em){
    .GridLayout-Cert{
        grid-template-columns: 30rem auto;
        padding-inline: var(--_spacer);

    }
    .GridLayout-Cert>*{
        justify-self: center;
    }
    .GridLayout-Cert>.absolute-Cert-Overflow{
        position: relative;
        overflow-y: visible;
    }
    .GridLayout-Cert>.absolute-Cert-Overflow>img{
        max-width: 23rem;
        left: -14rem;
        top: -3.5rem;
        position: absolute;
        border-radius: 0.3rem;
        box-shadow: 0px 1px 0px 0px  rgba(0,0,0,0.04),
        -1px 0px 0px 0px rgba(0,0,0,0.04), 
        -1px 2px 0px 0px rgba(0,0,0,0.04), 
        -2px 1px 0px 0px rgba(0,0,0,0.04), 
        -2px 3px 0px 0px rgba(0,0,0,0.04), 
        -3px 2px 0px 0px rgba(0,0,0,0.04), 
        -3px 4px 0px 0px rgba(0,0,0,0.04), 
        -4px 3px 0px 0px rgba(0,0,0,0.04), 
        -4px 5px 0px 0px rgba(0,0,0,0.04), 
        -5px 4px 0px 0px rgba(0,0,0,0.04), 
        -5px 6px 0px 0px rgba(0,0,0,0.04), 
        -6px 5px 0px 0px rgba(0,0,0,0.04), 
        -6px 7px 0px 0px rgba(0,0,0,0.04), 
        -7px 6px 0px 0px rgba(0,0,0,0.04), 
        -7px 8px 0px 0px rgba(0,0,0,0.04), 
        -8px 7px 0px 0px rgba(0,0,0,0.04);
    }  

}